.container {
  margin: 0 auto;
  max-width: 1340px;
}

.header {
  background-color: #121618;
  color: var(--gray);
  width: 100%;
  padding: 10px 0;
  position: fixed;
  z-index: 100;
  top: 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .burger__button {
    padding: 0;
    margin-left: 20px;
    display: none;
    @media (max-width: 870px) {
      display: block;
      font-size: 18px;
      border: none;
      background: none;
      color: var(--gray);
      margin-right: 10px;
      transition: all 0.6s ease;

      &:hover {
        color: var(--main-yellow);
        cursor: pointer;
        transform: rotate(90deg);
      }
    }
  }

  .mobile__navbar {
    ul {
      padding-left: 20px;
      display: none;
    }

    &__active {
      ul {
        display: block;
        padding-left: 20px;
        margin-bottom: 0;

        li {
          list-style: none;
          transition: all 0.4s ease;
          margin-bottom: 15px;

          &:hover {
            color: var(--main-yellow);
            cursor: pointer;
          }
        }

        .socials {
          display: flex;
          padding-left: 0;

          &__item {
            margin-right: 5px;
            font-size: 18px;
          }
        }
      }
    }
  }

  .navbar {
    @media (max-width: 870px) {
      display: none;
    }

    &__list {
      display: flex;
      padding-left: 0;
    }
    &__item {
      list-style-type: none;
      margin: 0 20px;

      &:last-child {
        margin-right: 0;
      }

      &:first-child {
        margin-left: 0;
      }

      a {
        &:hover {
          transition: all 0.4s ease;
          color: var(--main-yellow);
        }
      }
    }
  }
}

.cart {
  margin-right: 20px;
  position: relative;
  font-size: 25px;

  &__count {
    height: 20px;
    width: 20px;
    position: absolute;
    font-size: 12px;
    bottom: 5px;
    right: -10px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  &__icon {
    color: var(--gray);
    display: inline-block;
    transition: all 1s ease;
    padding-top: 2px;

    &:hover {
      cursor: pointer;
      color: var(--main-yellow);
    }
  }
}

.header__logo {
  margin: 0 20px;
  transition: all 0.4s ease;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    color: var(--main-yellow);
  }
}
