.container {
  margin: 0 auto;
  max-width: 1340px;
}

.header {
  background-color: #121618;
  color: var(--gray);
  width: 100%;
  padding: 10px 0;
  position: fixed;
  z-index: 100;
  top: 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar {
    &__list {
      display: flex;
    }
    &__item {
      list-style-type: none;
      margin: 0 20px;

      .cart {
        position: relative;

        &__count {
          height: 5px;
          width: 5px;
          position: absolute;
          right: -5px;
          bottom: 5px;
          font-size: 12px;
        }

        &__icon {
          color: var(--gray);
          display: inline-block;
          transition: all 1s ease;
          padding-top: 2px;

          &:hover {
            cursor: pointer;
            color: var(--main-yellow);
          }
        }
      }

      a {
        &:hover {
          transition: all 0.4s ease;
          color: var(--main-yellow);
        }
      }
    }
  }
}

.header__logo {
  margin: 0 20px;
}
