.menu__container {
  margin-bottom: 95px;
}

.menu__products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px 10px 0;

  @media (max-width: 576px) {
    justify-content: center;
  }

  &__item {
    text-align: center;
    overflow: hidden;
    height: 100%;

    &__image {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      @media (max-width: 768px) {
        width: 180px;
        height: 180px;
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }

    &__name {
      color: #fff;
      text-align: center;
    }
    &__desc {
      color: var(--gray);
      padding: 0 10px;
      font-size: 14px;
    }
    &__price {
      color: var(--main-yellow);
      font-weight: 400;
      font-size: 16px;
    }
  }
}

.product__item__footer {
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px;

  .price {
    color: var(--main-yellow);
  }
}

.product__wrapper {
  display: flex;
  flex-direction: column;
  //justify-content: center;
  margin: 0 10px 20px;
  width: calc(25% - 20px);
  border: 1px solid #fff;
  padding: 0 0 20px;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 15px var(--main-yellow);
  }
}

.menu__btn {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 0 20px;
  font-weight: 400;
  font-family: var(--font-poppins);
  transition: all 0.5s ease;
  margin: 0 auto;

  &:hover {
    background-color: var(--main-yellow);
    border: 1px solid transparent;
    color: #000;
    cursor: pointer;
  }
}

.menu__heading {
  text-align: center;
  width: 45%;
  margin: 95px auto 0;
  color: #fff;

  h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;

    @media (max-width: 768px) {
      font-size: 25px;
    }
  }

  p {
    padding-top: 30px;

    @media (max-width: 768px) {
      padding-top: 10px;
      font-size: 14px;
    }
  }

  p.flip {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 1rem;

    &:after {
      position: absolute;
      bottom: 4px;
      left: -100px;
      right: 0;
      content: "";
      width: 40px;
      height: 1px;
      background: #8d5d05;
      margin: 0 auto;
    }

    &:before {
      position: absolute;
      bottom: 4px;
      left: 100px;
      right: 0;
      content: "";
      width: 40px;
      height: 1px;
      background: #8d5d05;
      margin: 0 auto;
    }

    .deg1 {
      position: absolute;
      bottom: 2px;
      left: -30px;
      right: 0;
      width: 6px;
      height: 6px;
      content: "";
      background: #fac564;
      transform: rotate(135deg);
      margin: 0 auto;
    }
    .deg2 {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 10px;
      height: 10px;
      content: "";
      background: #fac564;
      transform: rotate(135deg);
      margin: 0 auto;
    }
    .deg3 {
      position: absolute;
      bottom: 2px;
      left: 30px;
      right: 0;
      width: 6px;
      height: 6px;
      content: "";
      background: #fac564;
      transform: rotate(135deg);
      margin: 0 auto;
    }
  }
}

.menu__category {
  text-align: center;

  p {
    color: #fff;
  }
}

.category__name {
  text-transform: uppercase;
  color: #fff;
  font-size: 30px;
  font-weight: 400;

  @media (max-width: 768px) {
    font-size: 25px;
  }
}
