.checkout__form {
  margin: 100px 0 0 30px;

  &__input {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    // font-size: 15px;
    // font-family: var(--font-poppins);
    transition: all 0.2s ease-in-out;

    &:focus {
      outline: 1px solid var(--main-yellow);
      box-shadow: 0 0 10px var(--main-yellow);
    }
  }

  &__label {
    color: #fff;
  }
}
