.heading {
    padding-left: 30px;
}

.ro,
.ru {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    color: #fff;

    label {
        margin-bottom: 15px;
    }

    input,
    textarea,
    select {
        margin-bottom: 20px;
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;
        font-size: 15px;
        padding: 0 15px;
        line-height: 1.8;
        font-family: var(--font-poppins);
        width: 300px;
        transition: all .2s ease-in-out;
        cursor: pointer;

        &:focus {
            outline: 1px solid var(--main-yellow);
            box-shadow: 0 0 10px var(--main-yellow);
        }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    option {
        color: #000;
        font-family: var(--font-poppins);

        &:hover {
            background-color: var(--main-yellow);
        }
    }

    textarea {
        resize: none;
    }

    input[type=file] {
        display: none;
    }

    input[type=checkbox] {
        outline: none;
    }

    .status__wrapper {
        input {
            width: 20px;
        }

        input[type=checkbox]:checked {
            color: #000;
        }
    }

    .image__label {
        display: flex;
        align-items: center;
        border: 1px solid #fff;
        padding: 0 12px;
        cursor: pointer;

        span {
            padding-left: 12px;
        }
    }

    .image__wrapper {
        width: 300px;
        overflow: hidden;

        .product__image {
            max-width: 100%;
            height: auto;
        }
    }
}

.btn__create {
    margin-left: 30px;
    font-family: var(--font-poppins);
    background-color: var(--main-yellow);
    border: 1px solid transparent;
    color: #000;
    padding: 0 15px;
    line-height: 2;
    transition: all .2s ease-in-out;
    cursor: pointer;

    &:hover {
        color: var(--main-yellow);
        background-color: transparent;
        border: 1px solid var(--main-yellow);
    }
}